# Dependencies
node_modules
.pnp
.pnp.js

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Builds
.next
dist
build
out
.expo

# Cache
.turbo
.cache
.parcel-cache

# Env
.env
.env.*
.env.local

# Misc
.DS_Store
.idea
.vscode
